bin/**
build/**
.project
.metadata
.classpath
.settings/
.gradle/**
VoteClient/bin/**
VoteClient/build/**
VoteClient/.project
VoteClient/.metadata
VoteClient/.classpath
VoteClient/.settings/
VoteClient/.gradle/**
VoteClient/obj/**